<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="info">
        <form action="{{ url_for('predict')}}" method="post">
            <input name="stock" type="text" required>
            <button type="submit">Predict</button>
        </form>
        {% if prediction_value: %}
            <p>The value of {{ stock }} in the future is: ${{ prediction_value }}</p>
        {% endif %}
    </div>
</body>
</html>